*.o
*.out
*.a
*.cmd
*.builtin
*.order
*.lds
*vmlinux
*.ko
*.mod.o.cmd
*.o.cmd
*.mod.c
*.s
*.config
*.config.old
*.version
*.conf
*autoconf.h
*compile.h
*.bin
*.srec
*.d
*.map
*.S
*.tmp_versions
*.tmp_vmlinux1
*.tmp_vmlinux2
*hian

